.bottomMobileMenu.hideOnDesktop
    nav
        ul
            li
                a(href="javascript:void(0);" onclick="openMobileMenu();")
                    i.fa.fa-bars
                    | Menu
            li
                a(href="tel:0212-438-07-65")
                    i.fa.fa-phone
                    | Telefon
            li
                a(href="geo:41.067405,28.8615668" id="mapLink")
                    i.fa.fa-location-arrow
                    | Harita