mixin myNav(arg1)
    nav(class=arg1)
        ul
            li.active
                a(href="#") ANA SAYFA
            li
                a(href="#") ÜRÜNLERİMİZ
            li
                a(href="#") HAKKIMIZDA
            li
                a(href="#") İLETİŞİM
            li
                a(href="#") 
                    img(src="images/turkish-flag.png" alt="turkish flag") 
                    | TÜRKÇE
            li
                a(href="#")
                    img(src="images/english-flag.png" alt="turkish flag") 
                    | ENGLISH